/*html, body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100%;*/
/*}*/

footer {
    font-size: 14px;
    /*display: flex; !* Use Flexbox *!*/
    /*justify-content: space-between; !* Distribute content evenly *!*/
    /*align-items: center; !* Vertically center content *!*/
    /*background-color: #333;*/
    /*color: #fff;*/
    /*!*height: 40px; !* Adjust the height as needed *!*!*/
    /*bottom: 0;*/
    /*width: 100%; !* Full width *!*/
    /*max-width: 100%;*/
}

/* Style the left and right sections within the footer */
/*.left, .right {*/
/*    flex: 1; !* Distribute available space evenly *!*/
/*}*/

/*.left {*/
/*    text-align: left;*/
/*    padding: 10px 20px;*/
/*}*/

/*.right {*/
/*    text-align: right;*/
/*    padding: 10px 20px;*/
/*}*/

/* Style the links within the left section */
footer a {
    text-decoration: underline;
}

/*!* Style the links on hover *!*/
/*.left a:hover {*/
/*    background-color: #5f5f5f;*/
/*}*/

/* Example CSS for responsive design */
@media (max-width: 768px) {
    .left, .right {
        font-size: 12px; /* Adjust font size for smaller screens */
    }
}

